*.pyc

.env

/venv

/models/starcoder_3b_local

/data/repos
/data/training
/data/evaluation/news_spider/*.json
/data/evaluation/price_spider/downloads
/data/evaluation/price_spider/*.json
/data/evaluation/stock_spider/*.json